<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=D" />
    <title>Form</title>
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <header class="header">
      <nav class="header-nav">
        <ul class="header-list">
          <li class="list-item"><a href="/">home</a></li>
          <li class="list-item"><a href="/contact">contact</a></li>
          <li class="list-item"><a href="/form">Form</a></li>
        </ul>
      </nav>
    </header>

    <div class="form-box">
       <h1>Book an Appointment</h1> 
      <hr>
      <form class="form" action="/product" method="POST">
        <div class="form-input">
          <label >Name</label>
          <input class="form-control" type="text" name="title" />
        </div>
        <div class="form-input">
          <label>Size</label>
          <input class="form-control" type="number" name="size" />
        </div>
        <a class="btn"  href="blogpost/12">detail</a>
        <button class="btn" submit>Add product</button>
      </form>
    </div>
  </body>
</html>
